html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

.grid{
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr 5rem;
    height: 100%;
}

header{
    grid-area: header;
    background-color: #060606;
}

main{
    grid-area: main;
    padding: 10px;
}

footer{
    grid-area: footer;
    background-color: #060606;
    color: #FBFBFB;
}

/*Zajednicko (Common)*/
h1{
    font-size: 2rem;
    padding: 1rem 0;
}

h2{
    font-size: 1.8rem;
    padding: 1rem 0;
    inline-size: 27rem;
    color: #4806EC;
    text-align: center;
}

h2:hover{
    color: #FF5733;
}

a{
    text-decoration: none;
}

a:hover{
    color: #FF5733;
}

header a{
    color: #FBFBFB;
    padding: 10px;
}

a.eName{
    font-size: 36px;
    font-weight: bold;
    color: #FBFBFB;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center{
    justify-content: center;
}

img{
    border-radius: 0.5rem;
}

img.medium{
    max-width: 29rem;
    width: 100%;
    max-height: 30rem;
}

/*Proizvodi (Products)*/
.product{
    border:  0.1rem #B0B0AF solid;
    border-radius: 0.6rem;
    background-color: #f6f6f6f6;
    margin: 1rem;
}

.product-body{
    padding: 1rem;
}

.product-body > *{
    margin-bottom: 0.5rem;
}

.price{
    font-size: 1.8rem;
}

/*Rating*/
.rating span{
    color: #f0c040;
    margin: 0.1rem;
}