html{
  box-sizing: border-box;
  font-size: 62.5%;
}
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family:  'Franklin Gothic','Rockwell', 'Garamond', 'Calibri', 'Futura', 'Helvetica' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

.grid{
  display: grid;
  grid-template-areas:
      'header'
      'main'
      'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 5rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #060606;
}

main{
  grid-area: main;
  padding: 10px;
}

footer{
  grid-area: footer;
  background-color: #060606;
  color: #FBFBFB;
}

/*Zajednicko (Common)*/
h1{
  font-size: 2rem;
  padding: 1rem 0;
  inline-size: 27rem;
}

h2{
  font-size: 1.8rem;
  padding: 1rem 0;
  inline-size: 27rem;
  color: #4806EC;
  text-align: center;
}

h2:hover{
  color: #FF5733;
}

h3{
  font-size: 1.8rem;
  margin: 0.3rem;
  margin-left: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

a:hover{
  color: #FF5733;
}

header a{
  color: #FBFBFB;
  padding: 10px;
}

.badge{
  background-color: #0787EA;
  color: #FBFBFB;
  border-radius: 50%;
  padding: 0rem 0.5rem;
  font-size: 1.5rem;
  margin-left: 0.1rem;

}

a.eName{
  font-size: 36px;
  font-weight: bold;
  color: #FBFBFB;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}

li{
  margin-top: 1rem;
}

input,
select,
textarea,
button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover{
  background-color: #f8f8f8;
  cursor: pointer;
  border: 0.1rem #404040 solid;
}

button.primary{
  background-color: #0787EA;
  color: #fff;
}

button.primary:hover{
  background-color: #20a020;
}

button.block{
  width: 100%;
}

button.block:hover{
  background-color: #20a020;
}

select:hover{
  border: 0.1rem #404040 solid;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center{
  justify-content: center;
}

.row.top{
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex: 2 1 50rem;
  margin-right: 1rem;
}

.min-30{
  width: 40%;
}

/*Slika (Image)*/
img{
  border-radius: 0.5rem;
}

img.small{
  max-width: 5rem;
  width: 100%;
}

img.medium{
  max-width: 29rem;
  width: 100%;
  max-height: 30rem;
}

img.large{
  max-width: 50rem;
  width: 100%;
  max-height: 48rem;
}

/*Proizvodi (Products)*/
.product{
  border:  0.1rem #B0B0AF solid;
  border-radius: 0.6rem;
  background-color: #f6f6f6f6;
  margin: 1rem;
}

.product-body{
  padding: 1rem;
}

.product-body > *{
  margin-bottom: 0.5rem;
}

.price{
  font-size: 1.8rem;
}

/*Rating*/
.rating span{
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child{
  color: #0C0C0C;
  font-size: 1.5rem;
}

p.descrip{
  white-space: pre-wrap;
}

/*Alert*/
  /*Dostupnost (Availability)*/

.loading{
  display: block !important;
}

.success{
  color: #20a020;
}
.danger{
  color: #F32513;
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info{
  color: #0787EA;
  background-color: #ffe0e0;
}

.alert-danger{
  color: #F32513;
  background-color: #ffe0e0;
}

/*Form*/

.form{
  max-width: 60rem;
  margin: 0 auto;
}

.form > div{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label{
  margin: 1rem 0;
}

/*Dropdown*/

.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown-content{
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  background-color: #060606;
}

.dropdown:hover .dropdown-content{
  display: block;
}

/* Checkout steps*/
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active{
  border-top-color: #0787EA;
  color: #0787EA;
}